<pn-path-nav />
<div class="white">
    <div class="container">
        <div layout-padding></div>

        <div ng-repeat="transaction in history">
            <!-- {{transaction}} -->
            <!-- <a ng-click="openLcbApiPage()">Documentation</a> for the Washington State Liquor and Cannabis Control Board Traceability Application Interface -->
            <fieldset><legend align="center">{{transaction.req.action}} {{transaction.at | timeAgo}} on
            {{transaction.at |date:'medium'}} </legend>
            <div layout-padding></div>

                <div>
                    <center><b>Sent</b></center>
                </div>
            <!-- <table>
                <tr ng-repeat="(key, value) in transaction.req">
                    <td> {{key}} </td> <td> {{ value }} </td>
                </tr>
            </table> -->

            <pn-mini-details-table data="transaction.req" />
            <div layout-padding></div>
            <div layout-padding></div>

            <center><b>Received</b></center>

            <div class="">
                <!-- <p>{{transaction.res | json}}</p> -->
                <pn-mini-details-table data="transaction.res" />

            </div>
            </fieldset>
            <div layout-padding></div>

            <!-- {{transaction}} Undo  -->
        </div>
    </div>
    
</div>
