<!-- <div layout="column"> -->
    <div class="white-text green darken-3"><div layout-padding></div></div>
    <div class="white-text green darken-3"><center><div><img src="img/potlogo.svg" style="width:auto; height:100px;"></div> </center></div>
    <div class="white-text green darken-3"><div layout-padding></div></div>
<!-- </div> -->




<center>
    <div class="container ">
        <div layout-padding>
            <div layout="column" layout-gt-md="row">

                <div class="greenboard-floater" layout-padding>
                    <!-- <div ><b><a ng-click="demo()">Parallel 18: Demo</a></b></div> -->
                    <div class="pnText pnTitleText">Potnet </div>
                    <div  class="pnText">I-502 Traceability Done Right. For Free.</div>

                    <div class="">
                    <h2 class="warning">{{error}}</h2>
                </div>

                <div class="input-field col s6">
                    <input type="text" id="username" ng-model="email">
                    <label for="username">Email</label>
                </div>
                <div class="input-field col s6">
                    <input type="password" id="password" ng-model="password">
                    <label for="password">Password</label>
                </div>
                <!-- <div class="input-field col s6">
                    <input type="password" id="ubi" ng-model="ubi">
                    <label for="ubi">UBI</label>
                </div> -->
                <!-- <div class=""><button ng-click="in.go()">Go!</button></div> -->
                <div class="">
                    By clicking Sign Up, you agree to our
                    <a href="https://potnet.net/wa/#/terms">Terms</a>.
                </div>
                <div class=""><button class="btn btn-raised"ng-click="go()">Sign In</button></div>

            </div>
            <!-- <div layout-padding></div> -->

            <div class="width100">
                <!-- <img src="Images/greenboard-logo.svg" class="width100"> -->

            </div>
        </div>
    </div>
</center>
