<pn-path-nav />
<div class="white">
    <center>
        <div class="container">
            <div layout-padding></div>



            Redirecting


            <!-- {{mySubscription}} -->
            <!-- <div ng-show="currentSubscriber">
                Potnet Subscription: Active
            </div>
            <div class="">
                Days left in billing cycle
            </div>
            <div class="">
                <pn-mini-details-table data="myBillingAgreement.GetBillingAgreementDetailsResult.BillingAgreementDetails" />
            </div>
            <div class="">
                <u ng-click="toCancel()">Cancel</u> any time
            </div>
            <div layout-padding></div>


            <div ng-hide="currentSubscriber"  class="pnText pnText20">
                <div class="">
                    <fieldset>
                        <legend>
                            Potnet Subscription
                        </legend>

                        <div layout="row" layout-align="space-around">
                            <div layout="column" layout-align="start center">

                                <div layout-padding>

                                </div>
                                <md-radio-group ng-model="selected">

                                    <md-radio-button  ng-repeat="plan in plans"
                                     ng-click="setSelectedPlan(plan)" ng-value="plan.id">
                                    <span>
                                        ${{plan.price}} Billed {{plan.label}}
                                    </span>
                                </md-radio-button>


                            </md-radio-group>

                        </div>
                    </div>


                </fieldset>

                <div layout-padding></div>

            </div>


            <div layout-padding></div>
            <div ng-show="selectedPlan" >

                <div class="">
                    <a ng-click="openTerms()">Potnet Terms of Service and Privacy Policy</a>
                </div>
                <div class="">
                    <center><pn-pay-with-amazon-button /></center>

                </div>

            </div> -->
        </div>
    </center>

</div>
