<div class="white-text pnGreenDarken3 ">
    <div layout-padding></div>
    <div class="">
        <center>
            <div layout-align="center center" layout="column" >
                <div class="">
                    <img src="img/potlogo.svg"  ng-click="toLogIn()"  style="width:auto; height:200px;">
                </div>
            </div>
        </center>
    </div>
    <div class="">
        <div layout-padding></div>
    </div>

</div>
<div class="white z-depth-1">
    <center >
        <div class="container pnText">
            <div layout-padding></div>
            <div layout-padding></div>
            <!-- <div layout-padding></div> -->
            <button class="btn btn-lg" ng-click="toLogIn()">Log In</button>

            <div layout-padding></div>
            <div layout-padding></div>

            <button class="btn btn-lg" ng-click="toSignUp()">Sign Up (free)</button>


            <div layout-padding></div>
            <!-- <div layout-padding></div> -->

            <div class="pnSmallTitleText pnText pnStrong">
                <ul>


                    <li>Potnet.net is the new lightning-fast interface to the <a ng-click="openInNewTab('http://lcb.wa.gov/mj2015/traceability_system')">Washington State Liquor and Cannabis Board Marijuana Traceabilty System</a></li>
                    <li layout-padding></li>

                    <li><img src="img/screenshots/dashboard.png" ng-click="toSignUp()" style="width:100%; height:auto" alt="" /></li>
                    <!-- <li><img src="img/screenshots/dashboard.png" ng-click="toLogIn()" style="width:100%; height:auto" alt="" /></li> -->
                    <!-- <li layout-padding></li> -->

                    <!-- <li layout-padding></li> -->
                    <!-- <li>Convenient companion to <a ng-click="openInNewTab('http://wslcb.mjtraceability.com/')">the standard seed-to-sale portal</a></li> -->
                    <!-- <li>An alternative or companion to BioTrackTHC, Potnet.net allows Producers and Processors to easily manage everything the seed to sale. -->
                    <!-- <img src="img/screenshots/create_manifest.png" ng-click="toLogIn()" style="width:100%; height:auto" alt="" /> -->
                </ul>

            </div>
            <div layout-padding></div>
            <!-- <div layout-padding></div> -->
            <div >
                <button ng-click="toSignUp()" class="btn btn-lg pnStrong">TRY It FREE NOW</button>
            </div>
            <!-- <div layout-padding></div> -->
            <!-- <div layout-padding></div> -->
            <div layout-padding></div>
            <div layout-padding></div>


            <div layout="row" flex>
                <div flex>

                </div>

                <!-- <div class="">
                    <img src="img/angular_js.svg" style="height:50px; width:auto">

                </div>
                <div layout-padding></div> -->

                <!-- <div class="">
                    <img src="img/HTML5_Logo_512.png" style="height:50px; width:auto">

                </div> -->
                <!-- <div class="">
                    <img src="img/amazon_splash_logo.png" style="height:50px; width:auto">
                </div> -->
                <div class="">
                    <img style="width:auto; height:50px" src="img/ssl.png">
                </div>
                <div flex>

                </div>
            </div>

            <div layout-padding></div>
            <div layout-padding></div>

        </div>
    </center>
</div>
<div layout-padding></div>

<div class="pnSmallText white-text">
    <center>     © 2016 Potnet.net</center>
    <div layout-padding>

    </div>
</div>
