<div class="white-text green darken-3"><div layout-padding></div></div>
<div class="white-text green darken-3"><center><div><img src="img/potlogo.svg" style="width:auto; height:100px;"></div> </center></div>
<div class="white-text green darken-3"><div layout-padding></div></div>



<!-- {{user_data |json}} -->

<center>

    <div class="container">
        <div class="pnText pnSmallTitleText" >
            Please enter your I-502 traceability credentials to authenticate with the Washington State Liquor and Cannabis Board Traceability Server.
        </div>
        <div layout-padding></div>
        <!-- <div ng-show="error" class="red lighten-1 white-text pnText pnTxtLg">{{error}}</div>
        <div layout-padding ng-show="error"></div> -->
        <div ng-repeat="field in fields">
            <!-- {{fields}} -->
            <!-- {{field}} -->
            <fieldset>
                <legend>{{field.label}}</legend>
                <div class="input-field col s6">
                    <input-container>
                        <input id="{{field.key}}" type="{{field.type}}" ng-model="model[field.key]">
                    </input-container>
                </div>
            </fieldset>
            <div layout-padding></div>
        </div>

        <fieldset>
            <legend>I-502 Business</legend>
            <md-autocomplete



            md-search-text-change="searchTextChange(searchText)"
            md-search-text="searchText"
            md-selected-item-change="selectedItemChange(item)"
            md-items="item in querySearch(searchText)"
            md-item-text="item.name"
            md-min-length="0">
            <md-item-template>
                <span md-highlight-text="searchText"  md-highlight-flags="^i">{{item.name}}</span>
            </md-item-template>
            <md-not-found>
                No I-502 businesses matching "{{searchText}}" were found.
            </md-not-found>
        </md-autocomplete>
        </fieldset>
        <div layout-padding>

        </div>
        
        <fieldset>
            <div class="input-field col s6">
                <input-container>
                <div layout="row" >
                    <div class="">
                        <md-checkbox ng-model="terms">I have read and agree to </md-checkbox>
                    </div>
                    <div >
                        &nbsp;
                    </div>
                    <div class="">
                        <a ng-click="openTerms()">Potnet Terms of Service and Privacy Policy</a>
                    </div>
                </div>
                </input-container>
            </div>

    </fieldset>



    <div layout-padding ng-show="error"></div>

<div ng-show="error" class="red lighten-1 white-text pnText pnTxtLg">{{error}}</div>
<div layout-padding ></div>
<button ng-disabled="!terms" type="submit" flex ng-click="associateCredentials()" class="btn btn-raised green darken-3">Submit</button>

</div>
</center>
