<!-- no, sorry. -->
<pn-path-nav />
<center>
<div class="white">
    <div class="container">
        <div layout-padding></div>
        <fieldset>
        <legend>
            <div class="">
                Are you sure?

                (please say no)
            </div>
        </legend>

            <div class="">
                Clicking the 'Yes' button will terminate your access to Potnet.net. You will not be charged again.
            </div>

                <div flex >


                    <div ng-click="dontCancel()">
                        <md-button >No</md-button>
                    </div>
                    <div layout-padding></div>
                    <div  ng-click="doCancel()">
                        <md-button>Yes</md-button>
                    </div>
                </div>

        </fieldset>
        <div layout-padding></div>

    </div>
    </center>

</div>
