<center>
<div layout="column" >
    <div class="pnFooter pnGreenDarken3 white-text">
        <div layout-padding></div>
        <div class="" >
            <div class="">
                {{myFullName}}
            </div>
            <div class="">
                <b>{{myName}}</b>
            </div>        <!-- <b>{{myAddress}}</b> -->

        </div>
        <div layout-padding></div>

        <div>
            <u  ng-click="emailSupport()">Support</u> | <u ng-click="toSuggestions()">Suggestions</u>
        </div>

        <div layout-padding></div>

        <div class="pnSmallText" >
             © 2017 ABC Traceability
        </div>
        <div layout-padding>

        </div>
    </div>

</div>

</center>
