<center>
<div class="container" >
    <div layout-padding>
        {{to.desc}}
    </div>
    <fieldset >
        <legend>{{to.label}}</legend>
        <div class="repeater-container">
            <div ng-show="!to.options.length > 0">
                Loading...
            </div>
            <div vs-repeat layout-padding>
                <div ng-repeat="option in to.options|filter: search"
                ng-click="select(option)" ng-class="option.id === selected.id ? 'md-3-line green darken-3 white-text' : ''" layout="row" >
                {{option.label}}
            </div>
        </div>
    </fieldset>

</div>
</center>
