<!--

<fieldset>
    <legend align="center">{{to.label}}</legend>

        <md-chips ng-model="currentStopModel.inventoryitems" md-autocomplete-snap
                  md-require-match="true">
          <md-autocomplete
              md-selected-item="selectedItem"
              md-search-text="$query"
              md-items="item in querySearch($query)"
              md-item-text="item.name"
              placeholder="ID">
            <span md-highlight-text="searchText">{{item.id}}</span>
          </md-autocomplete>
          <md-chip-template>
            <span>
              <strong>{{$chip.name}}</strong>

            </span>
          </md-chip-template>
        </md-chips>
</fieldset>

<div layout-padding>

</div>
<!-- <div layout-padding>
    <span ng-show="model.vendors[stop-1] ">Selected {{to.label}} for {{model.vendors[stop-1].name}}: <span ng-repeat="selected in model.stops[stop-1].inventoryitems">{{selected.id}}<span ng-if="!$last">, <span></span></span>
</div> -->
<!-- {{to.options}} -->


<!-- <div class="input-field col s6">

    <div layout-padding>
        <span ng-show="model.vendors[stop-1] ">Selected {{to.label}} for {{model.vendors[stop-1].name}}: <span ng-repeat="selected in model.stops[stop-1].inventoryitems">{{selected.id}}<span ng-if="!$last">, <span></span></span>
    </div>
</div>

<div class="repeater-container">
    <div ng-show="!pnData">Loading...</div>


    <div layout-gt-md="row" flex ng-repeat="row in to.options|filter: search" ng-click="toggleItemToStop(row)" ng-click="toggleItemToStop(row)" ng-class="classForStopItem(row)">
        <div flex ng-repeat="col in cols">
            <span ng-show="row[col.id]">{{col.label}}:</span> {{row[col.id]}}
        </div>
        <div layout-padding></div>
    </div>


</div>
</div>
<div layout-padding></div> --> -->
