<div layout-padding>

</div>
<center>
    <div class="container">
        <fieldset>
            <legend>Hours Worked</legend>
            <div class="input-field col s6">

                <input-container>
                <input id="{{options.key}}" ng-readonly="true" type="text" ng-model="model.hours_worked">
                    <!-- <label for="{{options.key}}">
                         {{to.label}}
                    </label> -->
                </input-container>
            </div>
            <!-- <div ng-click="refreshHoursWorked">
                <i class="fa fa-refresh"></i> Refresh
            </div> -->
        </fieldset>
    </div>
</center>
