<div class="container">
    <div style="text-align:left">
        <!-- tests -->

    </div>

    <br />
    <div class="nestedDemo row" >
        <!-- Markup for lists inside the dropzone. It's inside a seperate template
             because it will be used recursively. The dnd-list directive enables
             to drop elements into the referenced array. The dnd-draggable directive
             makes an element draggable and will transfer the object that was
             assigned to it. If an element was dragged away, you have to remove
             it from the original list yourself using the dnd-moved attribute -->





        <!-- This template is responsible for rendering a container element. It uses
             the above list template to render each container column -->
        <script type="text/ng-template" id="container.html">
            <div class="container-element box box-blue">
                <h3></h3>
                <div class="column" ng-repeat="list in item.columns" ng-include="'list.html'"></div>
                <div class="clearfix"></div>
            </div>
        </script>







        <!-- Template for a normal list item -->
        <script type="text/ng-template" id="barcodeImage.html">
            <div class="item">{{item.label}}</div>
        </script>


        <!-- Template for a normal list item -->
        <script type="text/ng-template" id="item.html">
            <div class="item">{{item.label}}</div>
        </script>


        <fieldset>
            <legend align="center">Label Preview</legend>
            <!-- <center> -->
            <!-- {{model.page_template}} -->
            <div id="label"  class="" flex layout="row">
                <div class="" flex>

                </div>
                <div class=""  style="{{model.page_template.labelSize + 'border: dashed 1px black;'}}">
                    <pn-label-template />

                </div>
                <div class="" flex>

                </div>
                <!-- <pn-label-template /> -->


            </div>
                <!-- <pn-label-template  style="{{model.page_template.sizeStyles('label')}}" /> -->
            <!-- <div class="z-depth-2" style="height=1.125in; width:3.5in" ng-repeat="(zone, models) in models.dropzones">
                <div ng-repeat="model in models">

                    <div ng-show="model.type === 'container'">
                        <div class="white" layout="row" flex>
                            <div layout-align="center center"  flex="50" ng-repeat="(key, col) in model.columns">
                                <div ng-repeat="(k, c) in col">
                                    <div ng-if="c.type!='barcodeImage'" class="">
                                        {{c.label}}: {{inventory[c.key]}}
                                    </div>
                                    <div ng-if="c.type==='barcodeImage'">
                                            <pn-barcode barcode="inventory.id" />

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div ng-show="model.type==='item'">
                        {{model.label}}: {{inventory[model.key]}}
                    </div>
                    <div ng-show="model.type==='barcodeImage'">
                            <pn-barcode barcode="inventory.id" />

                    </div>

            </div> -->
        <!-- </center> -->

        </fieldset>

        <div layout-padding></div>
        <div layout="row" flex>
            <div class="" flex="75">
                <fieldset >
                    <legend align="center">Drag & Drop Label Layout</legend>
                    <div class="row">
                        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-6">
                            <div class="dropzone box box-yellow">
                                <!-- The dropzone also uses the list template -->
                                <!-- <h3>Dropzone {{zone}}</h3> -->
                                <div ng-include="'list.html'"></div>
                            </div>
                        </div>
                    </div>

                    <div view-source="nested"></div>

                </fieldset>

            </div>


                    <div layout-padding></div>
            <div layout="column" flex>
                <div class="">
                    <fieldset>
                        <legend align="center">Drop Here to Remove a Field</legend>
                        <ul dnd-list="[]">
                            <li><center><i class="fa fa-trash"></i></center></li>
                        </ul>
                    </fieldset>
                </div>
                <div class="">
                    <fieldset>
                        <legend align='center'>Container</legend>
                        <ul>
                            <!-- The toolbox only allows to copy objects, not move it. After a new
                                 element was created, dnd-copied is invoked and we generate the next id -->
                            <li style="display: inline;" ng-if="item.type==='container'" ng-repeat="item in models.templates"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                dnd-copied="item.id = item.id + 1"
                                >
                                <md-button >{{item.label}}</md-button>
                            </li>
                        </ul>


                    </fieldset>
                </div>

                <div class="">
                    <fieldset>
                        <legend align='center'>Drag & Drop Field Bank</legend>
                        <ul>
                            <!-- The toolbox only allows to copy objects, not move it. After a new
                                 element was created, dnd-copied is invoked and we generate the next id -->
                            <li   ng-if="item.type!='container'"  style="display: inline;"ng-repeat="item in models.templates"
                                dnd-draggable="item"
                                dnd-effect-allowed="copy"
                                dnd-copied="item.id = item.id + 1"
                                >
                                <md-button >{{item.label}}</md-button>
                            </li>
                        </ul>


                    </fieldset>
                </div>


            </div>


        </div>
        <div layout-padding></div>


        <!-- <div class="toolbox box box-grey box-padding">

            <h3></h3>

        </div> -->

        <!-- Main area with dropzones and source code -->
        <div layout-padding></div>






        <script type="text/ng-template" id="list.html">
            <ul dnd-list="list">
                <li ng-repeat="item in list"
                    dnd-draggable="item"
                    dnd-effect-allowed="move"
                    dnd-moved="list.splice($index, 1)"
                    dnd-selected="models.selected = item"
                    ng-class="{selected: models.selected === item}"
                    ng-include="item.type + '.html'">

                </li>
            </ul>
        </script>
        <div ng-if="models.selected" class="box box-grey box-padding">
            <h3>Selected</h3>
            <strong>Type: </strong> {{models.selected.type}}<br>
            <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
        </div>

        <!-- Sidebar -->
        <!-- <div class="col-md-2">



            <div ng-if="models.selected" class="box box-grey box-padding">
                <h3>Selected</h3>
                <strong>Type: </strong> {{models.selected.type}}<br>
                <input type="text" ng-model="models.selected.id" class="form-control" style="margin-top: 5px" />
            </div>

            <div class="trashcan box box-grey box-padding">
                <h3>Trashcan</h3>
                <ul dnd-list="[]">
                    <li><img src="nested/trashcan.jpg"></li>
                </ul>
            </div>

        </div> -->

                    <!-- <h2>Generated Model</h2>
                    <pre>{{modelAsJson}}</pre> -->
    </div>

</div>
