<pn-page-preview
    page-template="model.page_template"
    label-template="model.label_template" />

<!--
<div class="" layout-padding>
</div>

<div class=" container " style="{{getStyle(model.page_template.pageSize) + 'border: dashed 1px black;'}}" >
    <div id="topMargin" style="{{getStyle(model.page_template.topMargin)}}" class=""></div>
    <div class="" layout="row">
        <div id="leftMargin" style="{{getStyle(model.page_template.leftMargin)}}" class=""></div>

            <div ng-repeat="col in getArray(model.page_template.cols)" layout="column">
                <div id="row" ng-repeat="row in getArray(model.page_template.rows)" layout="row">
                    <div id="label"  class="" style="{{getStyle(model.page_template.labelSize) + 'border: dashed 1px black;'}}">
                        <div ng-show="model.inventory">
                            <pn-label-template />

                        </div>


                    </div>
                    <div ng-hide="col==model.page_template.cols " id="spacer" class="" style="{{getStyle(model.page_template.hSpacing)}}" ></div>
                </div>
            </div>




        <div id="rightMargin" style="{{getStyle(model.page_template.rightMargin)}}" class=""></div>
    </div>
    <div id="bottomMargin" style="{{getStyle(model.page_template.bottomMargin)}}" class=""></div>

</div>
 -->
