<div class="white">
    <div class="container">
        <pnlp />
        <div ng-click="pnTo('book_notes')">
            <u>Book Notes</u>
        </div>
        <pnlp />
        <div ng-click="pnTo('pnCustomerDevelopmentChecklists')" class="">
            <u>Checklists</u>
        </div>
        <pnlp />
        <div ng-click="pnTo('pnBusinessModelCanvas')" class="">
            <u>Business Model Canvas</u>
        </div>
        <pnlp />
        <div  ng-click="pnTo('appoitnment')" class="">
            <u>Appointment</u>
        </div>
        <div  ng-click="pnTo('sales_and_phone_by_license')" class="">
            <u>Sales and Phone By License</u>
        </div>

        <pnlp />

    </div>
</div>
