<pn-path-nav />
<div class="pnGrey">
    <div class="container">
        <div layout-padding></div>
        <div>
            <!-- <center> -->
                <table>
                    <tr>
                        <td>
                            <div  ng-click="showSearch=!showSearch">
                                <i class="fa fa-search"> </i> Search
                            </div>
                            <div ng-show="showSearch">
                                <div layout-padding></div>
                                <!-- <fieldset> -->
                                    <!-- <legend></legend> -->
                                    <div class="input-field col s6">

                                        <input-container>
                                        <input type="text" ng-model="search">
                                        </input-container>
                                    </div>
                                <!-- </fieldset> -->
                                <div layout-padding></div>

                            </div>
                        </td>
                        <td ng-click="pnExport()"><i class="fa fa-file-excel-o "></i> Export</td>
                    </tr>
                </table>

                <pnlp />
                <table ng-show="itemsPerPage < history.length">
                    <tr>
                        <td><dir-pagination-controls></dir-pagination-controls></td>
                        <td ><md-button ng-click="showAll()">Show All</md-button></td>
                    </tr>
                </table>
                <table ng-show="itemsPerPage === history.length">
                    <tr>
                        <td><a ng-click="collapse()">Show Fewer</a></td>
                    </tr>


                </table >

            <!-- </center> -->
            <div dir-paginate="transaction in history|filter:search| itemsPerPage: itemsPerPage">
                <!-- {{transaction}} -->
                <!-- <a ng-click="openLcbApiPage()">Documentation</a> for the Washington State Liquor and Cannabis Control Board Traceability Application Interface -->
                <fieldset><legend align="center">{{transaction.req.action}} {{transaction.at | timeAgo}} on
                {{transaction.at |date:'medium'}} </legend>
                <span ng-if="transaction.undo" ng-click="toUndo(transaction.undo)" flex layout="row">
                    <span flex></span>
                    <span><i class="fa fa-undo"></i> Undo</span>
                    <span flex></span>

                </span>
                <div layout-padding></div>

                    <table>
                        <tr>
                            <th>
                                <center><b>Sent</b></center>
                            </th>
                        <!-- <center><b>Sent</b></center>     -->
                        </tr>

                    </table>
                <!-- <table>
                    <tr ng-repeat="(key, value) in transaction.req">
                        <td> {{key}} </td> <td> {{ value }} </td>
                    </tr>
                </table> -->

                <pn-mini-details-table data="transaction.req" />
                <div layout-padding></div>
                <div layout-padding></div>

                <table>
                    <tr>
                        <th>
                            <center><b>Received</b></center>
                        </th>
                    <!-- <center><b>Sent</b></center>     -->
                    </tr>

                </table>
                <div class="">
                    <!-- <p>{{transaction.res | json}}</p> -->
                    <pn-mini-details-table data="transaction.res" />

                </div>
                </fieldset>
                <div layout-padding></div>

                <!-- {{transaction}} Undo  -->
            </div>
        </div>

    </div>

</div>
<pn-footer />
