
<div ng-cloak>
    <md-content>
        <!-- <md-tabs md-dynamic-height md-border-bottom> -->
            <!-- <md-tab label="Who We Are" >
                <md-content class="md-padding">
                    <p>We are custom software specialists
                        who have built this solution to specifically fit your business.
                        Our software developers have developed customized software for a
                        diverse array of industries including agriculture,
                        finance, manufacturing/production and engineering.
                        Dedicated students of the cannabis industry, our collective hands-on experience in I-502 is extensive.</p>
                    </md-content>
                </md-tab> -->
                <section label="Why abc?" >
                    <md-content class="md-padding">


                        <!-- <img src="img/usermanual/dashboard/dashboard.png" ng-click="toSignUp()" style="width:100%; height:auto" alt="" /> -->
                        <img src="img/plants/1.svg" ng-click="toSignUp()" style="width:100%; height:auto" alt="" />
                        <div layout-padding></div>


                        <table>
                            <tr></tr>
                            <tr>
                                <th></th>
                                <th>ABC Traceability</th>
                                <th>Free BioTrack</th>
                                <th>Paid BioTrack</th>
                            </tr>
                            <tr>
                                <td>All the tools needed to stay WAC 314-55 compliant</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                            </tr>
                            <tr>
                                <td>Works On Any Device</td>

                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Fast and Responsive</td>

                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Intuitive Interface</td>

                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Filter, Sort, Search All Data</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>One-Click Export to Excel (.csv)</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Easily Undo Mistakes</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Employee Timeclock</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Producer B2B Exchange</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Made in Washington</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </table>
                        <div layout-padding></div>
                        <center>Try Washington's fastest-growing traceability system right now completely free</p></center>
                        <div layout-padding></div>

                        <div class="">
                            <center><button ng-click="toSignUp()" class="btn btn-lg pnStrong">Try ABC free</button> </center>
                        </div>
                        <div layout-padding></div>
                        <div layout-padding></div>
                        <div layout-padding></div>

                    </md-content>
                </section>
                <!-- <md-tab label="Pricing" >
                    <md-content class="md-padding">
                        <table>
                            <tr>

                            </tr>
                            <tr>
                                <th></th>
                                <th>Free Demo</th>
                                <th>One Week</th>
                                <th>One Month</th>
                                <th>One Quarter</th>
                            </tr>
                            <tr>
                                <td>Price</td>
                                <td>$0</td>
                                <td>$50</td>
                                <td>$200</td>
                                <td>$500</td>
                            </tr>
                            <tr>
                                <td>Run Reports, View & Export Data</td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                            </tr>
                            <tr>
                                <td>Send Real-Time Updates to the <a ng-click="openInNewTab('http://lcb.wa.gov/mj2015/traceability_system')">WSLCB Traceability Server</a></td>
                                <td></td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                                <td><i class="fa fa-check-circle"></i></td>
                            </tr>

                    </table>
                    <div layout-padding></div>
                    <div layout-padding></div>
                    <div layout-padding></div>
                </md-content>
            </md-tab> -->
        <!-- </md-tabs> -->
    </md-content>
</div>
